Makefile
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
simple_demo/low
simple_demo/high
simple_demo/both
simple_demo/*.o
libpirate/libpirate.a
libpirate/libpirate.so
libpirate/primitives_bench
libpirate/primitives_test
libpirate/Testing
cusegaps/cusegaps_net
cusegaps/cusegaps_pipe
.vscode
/build/*
