name: CI

on:
  push:
  release:
    type: [created]
jobs:
  # This task builds the HTML documentation using sphinx.
  docs:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Build documentation
      run: |
        pip3 install sphinx
        export PATH="$HOME/.local/bin:$PATH"
        sphinx-build -M html doc build/doc
    - name: Make artifact
      uses: actions/upload-artifact@v1
      with:
        name: doc
        path: build/doc
  # This is the main build repo
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: runner
            packager: apt-get
            extra-packages: clang
            extra-cmake: -DGAPS_DISABLE=ON
            sudo: sudo
          - name: standard-clang
            container: ubuntu:focal
            packager: apt-get
            extra-packages: clang wget ca-certificates cmake make git libc6-dev libssl-dev libjpeg-dev libx11-dev libcpprest-dev
            extra-cmake: -DIPV6_TESTS=OFF -DGAPS_DISABLE=ON
          - name: standard-clang-shmem
            container: ubuntu:focal
            packager: apt-get
            extra-packages: clang wget ca-certificates cmake make git libc6-dev libssl-dev libjpeg-dev libx11-dev libcpprest-dev
            extra-cmake: -DIPV6_TESTS=OFF -DGAPS_DISABLE=ON -DPIRATE_SHMEM_FEATURE=ON
          - name: standard-gcc
            container: ubuntu:focal
            packager: apt-get
            extra-packages: g++ wget ca-certificates cmake make git libc6-dev libssl-dev libjpeg-dev libx11-dev libcpprest-dev
            extra-cmake: -DCMAKE_C_COMPILER=gcc -DIPV6_TESTS=OFF -DGAPS_DISABLE=ON
          - name: ubuntu
            container: ubuntu:focal
            packager: apt-get
            extra-packages: wget ca-certificates libtinfo-dev binutils git cmake make libstdc++-9-dev libedit2 libpython3.8 libssl-dev libjpeg-dev libx11-dev libcpprest-dev unzip pkg-config uuid-dev default-jre-headless
            extra-cmake: -DIPV6_TESTS=OFF
            upload-artifact: true
            pirate-llvm: https://pirate.azureedge.net/dist/pirate-llvm/master/pirate-llvm.ubuntu.tgz
          - name: centos7
            container: centos:7
            packager: yum
            extra-packages: unzip libuuid-devel pkgconfig java-11-openjdk cmake glibc-static wine-devel # for libuuid.a
            extra-cmake: -DIPV6_TESTS=OFF -DOPENSSL_INCLUDE_DIR=/usr/include/openssl11 -DOPENSSL_CRYPTO_LIBRARY=/usr/lib64/libcrypto.so.1.1 -DOPENSSL_SSL_LIBRARY=/usr/lib64/libssl.so.1.1
            upload-artifact: true
            pirate-llvm: https://pirate.azureedge.net/dist/pirate-llvm/master/pirate-llvm.centos.tgz
    runs-on: ubuntu-20.04
    container: ${{matrix.container}}
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies via apt-get
      if: matrix.packager == 'apt-get'
      run: |
        ${{matrix.sudo}} apt-get update
        ${{matrix.sudo}} DEBIAN_FRONTEND=noninteractive TZ=UTC \
           apt-get install --no-install-recommends -y \
           ${{matrix.extra-packages}} \
           valgrind libyaml-dev libavcodec-dev libavformat-dev libavutil-dev libswscale-dev
    - name: Install dependencies via yum
      if: matrix.packager == 'yum'
      run: |
        # Install additional releases
        yum install -y centos-release-scl epel-release
        # Install git, wget, libgcc and libstdc++
        yum install -y \
           git wget cmake3 devtoolset-8-make \
           devtoolset-8-gcc devtoolset-8-libstdc++-devel \
           valgrind \
           ncurses-libs \
           libyaml-devel-0.1.4-11.el7_0.x86_64 \
           openssl11 openssl11-devel \
           libjpeg-devel libX11-devel ${{matrix.extra-packages}}
        # Add links in
        echo "/opt/rh/devtoolset-8/root/bin" >> $GITHUB_PATH
        ln -s /usr/bin/cmake3 /usr/local/bin/cmake
        ln -s /usr/bin/openssl11 /usr/local/bin/openssl
    - name: Install pirate-llvm
      if: matrix.upload-artifact
      run: |
        # Unzip to pirate-llvm
        wget -qO pirate-llvm.tgz ${{matrix.pirate-llvm}}
        cd /usr/local
        tar -xz --strip-components=1 -f $GITHUB_WORKSPACE/pirate-llvm.tgz
        cd bin
        ln -s clang cc
        # Make dist/pirate directory and put pirate-llvm components in it.
        mkdir -p $GITHUB_WORKSPACE/dist/pirate/bin
        cd $GITHUB_WORKSPACE/dist/pirate/bin
        cp -a /usr/local/bin/clang-10 .
        ln -s clang-10 clang
        ln -s clang cc
        ln -s clang clang++
        ln -s clang++ c++
        cp -a /usr/local/bin/clangd .
        cp -a /usr/local/bin/lld .
        ln -s lld ld.lld
        ln -s ld.lld ld
        cp -a /usr/local/bin/lldb .
        cp -a /usr/local/bin/lldb-server .
        cp -a /usr/local/bin/lldb-vscode .
        # Copy objdump, elf, dwarf utilities
        cp -a /usr/local/bin/llvm-readobj .
        ln -s llvm-readobj llvm-readelf
        cp -a /usr/local/bin/llvm-dwarfdump .
        cp -a /usr/local/bin/llvm-objdump .
        # Copy libraries we need for lldb-mi
        mkdir -p ../lib
        cd ../lib
        cp -a /usr/local/lib/liblldb.so.10.0.0svn .
        ln -s liblldb.so.10.0.0svn liblldb.so.10svn
        ln -s liblldb.so.10svn liblldb.so
        # Copy compiler header files also.
        mkdir -p clang/10.0.0
        cp -a /usr/local/lib/clang/10.0.0/include clang/10.0.0
    # Build Google test framework we use for testing libpirate
    - name: Build googletest
      run: |
        echo "$PATH"
        mkdir ~/googletest
        cd ~/googletest
        wget -qO - https://github.com/google/googletest/archive/release-1.10.0.tar.gz | tar -xz
        cmake -D CMAKE_INSTALL_PREFIX:PATH=$HOME/googletest -D CMAKE_BUILD_TYPE=Release googletest-release-1.10.0
        cmake --build . --target install
    # We can only install the Mercury loopback on the non-docker builds.
    - name: Build and install Mercury loopback
      if: matrix.name == 'runner'
      run: |
        cd devices/mercury/loopback_ilip
        make
        sudo insmod gaps_ilip.ko
        sudo insmod gaps_loopback.ko
        test -c /dev/gaps_ilip_0_root || exit 1
    - name: Build libpirate
      run: |
        mkdir -p build
        cd build
        cmake ${{matrix.extra-cmake}} \
              -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/dist/pirate \
              -DGTEST_ROOT:PATH=$HOME/googletest \
              -DPIRATE_UNIT_TEST=ON \
              -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON  \
              -DPIRATE_LAUNCHER=OFF \
              -DPIRATE_GETOPT=OFF \
              ..
        make
        make install
    - name: Build Launcher
      run: |
        mkdir -p build-pal
        cd build-pal
        CFLAGS="-I$GITHUB_WORKSPACE/dist/pirate/include" \
          LDFLAGS="-L$GITHUB_WORKSPACE/dist/pirate/lib" \
          cmake ${{matrix.extra-cmake}} \
                -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/dist/pirate \
                -DPIRATE_APP_LIBS=pirate \
                ../pal
        make install
    - name: Build libpirategetopt
      run: |
        mkdir -p build-getopt
        cd build-getopt
        cmake ${{matrix.extra-cmake}} \
              -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/dist/pirate \
              ../libpirategetopt
        make install
    - name: Cache antlr4 runtime
      if: matrix.upload-artifact
      id: cache-antlr4-runtime
      uses: actions/cache@v2
      env:
        cache-name: cache-antlr4.8-runtime-1
      with:
        path: ~/antlr4
        key: ${{ runner.os }}-build-${{ matrix.name }}-${{ env.cache-name }}
    - name: Build antlr4 runtime
      if: matrix.upload-artifact && steps.cache-antlr4-runtime.outputs.cache-hit != 'true'
      run: |
        mkdir -p ~/antlr4
        cd ~/antlr4
        wget -qO - https://www.antlr.org/download/antlr-4.8-complete.jar > antlr-4.8-complete.jar
        wget -qO - https://www.antlr.org/download/antlr4-cpp-runtime-4.8-source.zip > antlr4-cpp-runtime-4.8-source.zip
        unzip antlr4-cpp-runtime-4.8-source.zip
        mkdir build
        cd build
        cmake -DANTLR4_INSTALL=1 -DWITH_LIBCXX=Off ..
        make
    - name: Install antlr4 runtime
      if: matrix.upload-artifact
      run: |
        cd ~/antlr4/build
        make install
        cd ..
    - name: Build idl
      if: matrix.upload-artifact
      run: |
        cd antlr
        mkdir -p build
        cd build
        # Link statically so that including in the archive is easy
        # cmake_exe_linker_flags is set to lib64/wine because that contains libuuid.a which doesn't seem to be found otherwise
        if test "${{ matrix.name }}" = "ubuntu"; then modpath=/usr/local/lib/cmake/antlr4; else modpath=/usr/local/lib64/cmake/antlr4; fi
        CFLAGS="-I$GITHUB_WORKSPACE/dist/pirate/include" \
        LDFLAGS="-L$GITHUB_WORKSPACE/dist/pirate/lib" \
          cmake -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/dist/pirate \
              -DCMAKE_BUILD_TYPE=Release \
              -DPIRATE_LINK_STATIC=On \
              -DCMAKE_EXE_LINKER_FLAGS_RELEASE="-L/usr/lib64/wine" \
              -DANTLR4_MODULE_PATH=$modpath \
              -DANTLR4_JAR_LOCATION=$HOME/antlr4/antlr-4.8-complete.jar \
              -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON \
              ..
        make install
    # Build lldb-mi so we can include it in archive.
    - name: Build lldb-mi
      if: matrix.upload-artifact
      run: |
        git clone https://github.com/lldb-tools/lldb-mi.git
        cd lldb-mi
        mkdir build
        cd build
        # On Centos 7, for unclear reasons, the linker is not asked to link in terminfo and it complains.
        # We can bypass this with a linker flag to pull in libraries as needed.
        # The CMAKE_INSTALL_RPATH flag is passed in so that lldb-mi uses a relative rpath so the
        # executable can be included in a tar.
        LDFLAGS="-Wl,--copy-dt-needed-entries" cmake -DCMAKE_INSTALL_PREFIX=$GITHUB_WORKSPACE/dist/pirate -DCMAKE_INSTALL_RPATH=../lib ..
        cmake --build . --target install
    - name: Make tar with all artifacts
      working-directory: dist
      if: matrix.upload-artifact
      run: tar cvfz pirate.${{matrix.name}}.tgz pirate
    - name: Make library artifact
      uses: actions/upload-artifact@v1
      if: matrix.upload-artifact
      with:
        name: pirate.${{matrix.name}}.tgz
        path: dist/pirate.${{matrix.name}}.tgz
    - name: libpirate tests
      timeout-minutes: 5
      run: |
        cd build/libpirate
        ./gaps_channels_test
        make valgrind
    - name: build benchmarks
      run: |
        cd build
        cmake ${{matrix.extra-cmake}} \
              -DGAPS_BENCH=ON \
              -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON ..
        make
    - name: build demos
      run: |
        cd build
        cmake -DGAPS_DEMOS=ON \
              ${{matrix.extra-cmake}} \
              -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON ..
        make
    - name: time_demo tests
      run: |
        cd build/demos/time_demo/test
        ./ts_test.sh
  windows-build:
    runs-on: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: googletest
      shell: powershell
      run: |
        mkdir ~/googletest
        cd ~/googletest
        Invoke-WebRequest -Uri https://github.com/google/googletest/archive/release-1.10.0.tar.gz -MaximumRedirection 10 -OutFile release-1.10.0.tar.gz
        tar -x -z -f release-1.10.0.tar.gz
        cd googletest-release-1.10.0
        mkdir build
        cd build
        cmake ..
        cmake --build . --config Release --target install
    - name: build libpirate
      run: |
        mkdir build
        cd build
        cmake -DGTEST_LIBRARY="C:\\Program Files (x86)\\googletest-distribution\\lib\\gtest.lib" `
          -DGTEST_MAIN_LIBRARY="C:\\Program Files (x86)\\googletest-distribution\\lib\\gtest_main.lib" `
          -DGTEST_INCLUDE_DIR="C:\\Program Files (x86)\\googletest-distribution\\include" `
          -DGAPS_DISABLE=ON `
          -DPIRATE_UNIT_TEST=ON `
          -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON `
          -DPIRATE_LAUNCHER=OFF `
          -DPIRATE_GETOPT=OFF `
          ..
        cmake --build . --config Release
    - name: libpirate tests
      timeout-minutes: 5
      run: |
        cd build/libpirate/Release
        ./gaps_channels_test.exe
  # This builds the IDL tool
  antlr-idl:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubuntu
            container: ubuntu:focal
            packager: apt-get
            extra-packages: wget ca-certificates binutils git cmake make libstdc++-9-dev libssl-dev libjpeg-dev libx11-dev
            extra-cmake: -DIPV6_TESTS=OFF
            upload-artifact: true
            pirate-llvm: https://pirate.azureedge.net/dist/pirate-llvm/master/pirate-llvm.ubuntu.tgz
          - name: centos7
            container: centos:7
            packager: yum
            extra-cmake: -DIPV6_TESTS=OFF -DOPENSSL_INCLUDE_DIR=/usr/include/openssl11 -DOPENSSL_CRYPTO_LIBRARY=/usr/lib64/libcrypto.so.1.1 -DOPENSSL_SSL_LIBRARY=/usr/lib64/libssl.so.1.1
            upload-artifact: true
            pirate-llvm: https://pirate.azureedge.net/dist/pirate-llvm/master/pirate-llvm.centos.tgz
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: |
        sudo sed -i 's/azure.archive.ubuntu.com/us.archive.ubuntu.com/g' /etc/apt/sources.list
        sudo apt-get update
        sudo apt-get install --no-install-recommends -y clang valgrind libyaml-dev uuid-dev default-jre-headless pkg-config unzip
    - name: googletest
      run: |
        mkdir ~/googletest
        cd ~/googletest
        wget -qO - https://github.com/google/googletest/archive/release-1.10.0.tar.gz | tar -xz
        cmake -D CMAKE_INSTALL_PREFIX:PATH=$HOME/googletest -D CMAKE_BUILD_TYPE=Release googletest-release-1.10.0
        cmake --build . --target install
    - name: Cache antlr4 runtime
      id: cache-antlr4-runtime
      uses: actions/cache@v2
      env:
        cache-name: cache-antlr4.8-runtime
      with:
        path: ~/antlr4
        key: ${{ runner.os }}-build-${{ env.cache-name }}
    - name: Build antlr4 runtime
      if: steps.cache-antlr4-runtime.outputs.cache-hit != 'true'
      run: |
        mkdir -p ~/antlr4
        cd ~/antlr4
        wget -qO - https://www.antlr.org/download/antlr-4.8-complete.jar > antlr-4.8-complete.jar
        wget -qO - https://www.antlr.org/download/antlr4-cpp-runtime-4.8-source.zip > antlr4-cpp-runtime-4.8-source.zip
        unzip antlr4-cpp-runtime-4.8-source.zip
        mkdir build
        cd build
        cmake -DANTLR4_INSTALL=1 -DWITH_LIBCXX=Off ..
        make
    - name: Install antlr4 runtime
      run: |
        cd ~/antlr4/build
        sudo make install
        cd ..
    - name: Build idl
      run: |
        cd antlr
        mkdir -p build
        cd build
        cmake -DGTEST_ROOT:PATH=$HOME/googletest \
              -DPIRATE_UNIT_TEST=ON \
              -DANTLR4_MODULE_PATH=/usr/local/lib/cmake/antlr4 \
              -DANTLR4_JAR_LOCATION=$HOME/antlr4/antlr-4.8-complete.jar \
              -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON \
              ..
        make
        ./idl_test
        make valgrind
  # This builds the VSCode plugins
  vscode-plugins:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - name: Install npm
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends -y npm
    - name: Install vsce
      run: sudo npm install -g --no-optional vsce
    - name: Install dependencies
      working-directory: vscode-plugins/architecture
      run: npm install
    - name: Package extension
      working-directory: vscode-plugins/architecture
      run: vsce package
  # This assembles a tar with all artifacts.
  assemble:
    needs: [build]
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubuntu
            imagedir: images/ubuntu
            dockername: pirateteam/ubuntu
            demo-cmake-args: -DPIRATE_APP_LIBS=pirate
          - name: centos7
            imagedir: images/centos7
            dockername: pirateteam/centos7
            demo-cmake-args: -DOPENSSL_INCLUDE_DIR=/usr/include/openssl11 -DOPENSSL_CRYPTO_LIBRARY=/usr/lib64/libcrypto.so.1.1 -DOPENSSL_SSL_LIBRARY=/usr/lib64/libssl.so.1.1 -DPIRATE_APP_LIBS=pirate
    runs-on: ubuntu-20.04
    if: github.event_name == 'push' && github.ref == 'master' || github.event_name == 'release'
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies via apt-get
      run: |
        export DEBIAN_FRONTEND=noninteractive
        export TZ=UTC
        sudo apt-get update
        sudo apt-get install --no-install-recommends -y \
          ca-certificates curl apt-transport-https lsb-release gnupg
        # Download and install the Microsoft signing key:
        curl -sL https://packages.microsoft.com/keys/microsoft.asc |
          gpg --dearmor |
          sudo tee /etc/apt/trusted.gpg.d/microsoft.gpg > /dev/null
        # Add the Azure CLI software repository
        AZ_REPO=$(lsb_release -cs)
        echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ $AZ_REPO main" \
          | sudo tee /etc/apt/sources.list.d/azure-cli.list > /dev/null
        # Install azure-cli
        sudo apt-get update
        sudo apt-get install --no-install-recommends -y azure-cli
    - name: Get build artifacts
      uses: actions/download-artifact@v1
      with:
        name: pirate.${{matrix.name}}.tgz
        path: pirate.${{matrix.name}}.tgz
    - name: Upload distribution
      run: |
        echo "This directory"
        ls -l
        ls -l pirate.${{matrix.name}}.tgz
        az storage blob upload \
          --account-name pirateteam \
          --account-key ${{ secrets.AZURE_ACCOUNT }} \
          -c \$web \
          -f pirate.${{matrix.name}}.tgz/pirate.${{matrix.name}}.tgz \
          -n dist/pirate/master/pirate.${{matrix.name}}.tgz
    - name: Build docker image
      run: |
        cp -R pdl ${{matrix.imagedir}}/pdl
        docker build -t ${{matrix.dockername}} ${{matrix.imagedir}}
    - name: Build demos on docker image
      run: |
        mkdir -p build
        # Run cmake
        docker run --mount type=bind,src=`pwd`/build,dst=/root/build \
                   --mount type=bind,src=`pwd`/demos,dst=/root/demos,readonly \
                   -w /root/build \
                   ${{matrix.dockername}} \
                   cmake ../demos ${{matrix.demo-cmake-args}}
        # Run make
        docker run --mount type=bind,src=`pwd`/build,dst=/root/build \
                   --mount type=bind,src=`pwd`/demos,dst=/root/demos,readonly \
                   -w /root/build \
                   ${{matrix.dockername}} \
                   make
    - name: Post master docker images
      if: github.event_name == 'push' && github.ref == 'master'
      run: |
        echo ${{ secrets.docker_password }} | docker login -u gapspirateteam --password-stdin
        docker push ${{matrix.dockername}}
    - name: Post release docker images
      if: github.event_name == 'release'
      run: |
        echo ${{ secrets.docker_password }} | docker login -u gapspirateteam --password-stdin
        docker push ${{matrix.dockername}}:${{ github.event.release.tag_name }}
